body{
	background: #000;
}
div p{
	width: 800px;
	height: 800px;
	font-size: 7px;
	line-height: 7px;
	position: center;
	background-image: url(../imge/hhh.png);
	background-size: cover;
	-webkit-background-clip: text;
	color: transparent;
}
